<!DOCTYPE html>
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <meta charset="utf-8"/>
  <title>EMAW!</title>
  <link rel="image_src" type="image/jpeg" href="http://ksu.jit.su/images/logo2.png" />
  <meta property="og:image" content="http://ksu.jit.su/images/logo2.png"/>
  <meta property="og:description" content="What time is it? Emaw time!"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <SocketStream/>
</head>

<body>
  <div id="content">
    
    <h1>
      <span>Kansas</span>
      <img src="/images/logo2.png" alt="Powercat logo"> 
      <span>State</span>
      <span>KSU</span>
    </h1>
    
    <div id="countdown">
      <ul class="label">
        <li>Days</li> <li>Hours</li> <li>Minutes</li> <li>Seconds</li>
      </ul>
      <ul class="val">
        <li class="day">000</li>
        <li class="hour">00</li>
        <li class="min">00</li>
        <li class="sec">00</li>
      </ul>
    </div>
    
    <div id="killkillkill"></div>
    
    <div id="schedule"></div>
    
  </div>
  
  <script>
    // Tracking
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35813042-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  
</body>
</html>