<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <SocketStream/>
    <title>EMAW!</title>
  </head>
  
  <body>
    <div id="content">
      
      <h1>
        Kansas
        <img src="/images/logo.png" alt="Powercat logo" width="72" height="72"> 
        State
      </h1>
      
      <div id="countdown">
        <ul class="label">
          <li>Days</li> <li>Hours</li> <li>Minutes</li> <li>Seconds</li>
        </ul>
        <ul class="val">
          <li class="day">000</li>
          <li class="hour">00</li>
          <li class="min">00</li>
          <li class="sec">00</li>
        </ul>
      </div>
      
      <div id="killkillkill"></div>
      
      <div id="schedule"></div>
      
    </div>
  </body>
</html>